services:
  - type: web
    name: telegram-forward-bot
    env: python
    pythonVersion: 3.13
    region: frankfurt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: CHANNELS
        sync: false
